.main {
  .header {
    background: #f1f1f1;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 2rem;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;

    .logo {
      a {
        color: #000;
        font-weight: bold;
        font-size: 20px;
        text-decoration: none;
      }
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }

  .container {
    width: 80%;
    margin: 0 auto 3rem;
  }

  .footer {
    background-color: #000;
    color: #d3d3d3;
    padding: 2rem;
    text-align: center;
  }
}