.container {
  background-color: #f1f1f1;
  border-radius: 8px;
  padding: 2rem;
  margin-bottom: 1.5rem;

  h3 {
    font-size: 22px;
    margin-bottom: 0.25rem;
  }

  p {
    font-size: 18px;
    color: #666;
  }
}